<div class="wrap">
  <%= render "shared/sidebar" %>
  <div class="main">
    <div class="top"><h1>New Emb Party</h1><%= link_to "← All parties", emb_parties_path, class: "btn-soft" %></div>
    <%= render "form" %>
  </div>
</div>
