<div class="wrap">
  <%= render "shared/sidebar" %>
  <div class="main">
    <div class="top"><div><h1>New Fabric Lot</h1><p class="page-sub">Laat with colours &amp; received gazana</p></div></div>
    <div class="form-page"><%= render "form" %></div>
  </div>
</div>
